.Nav {
  height: 30px;
  border-bottom: 3px solid yellow;
  border-top-width: 0px;
  margin: 0;
  color: white;
  background-color: black;
  padding-left: 0;
}

.Nav li {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 80px;
}

.Nav .right li {
  float: right;
  margin-left: 0;
  margin-right: 80px;
}