.Nav {
  height: 30px;
  border-bottom: 2px solid yellow;
  border-top-width: 0px;
  margin: 0;
  color: white;
  background-color: black;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.Nav li {
  font-size: 1.5em;
  display: inline-block;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  box-shadow: 0 3px #EF4836;
}

.active {
  color: #EF4836;
}
